<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <script src="./js/requests.js"></script>
    <script src="./js/auth.js"></script>
    <script src="/js/logout.js"></script>
    <title>Главная</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light">

        <a class="navbar-brand" href="/" style="margin-left: 30px">
            <img src="/img/logo_BNTU.png" width=70 class="d-inline-block align-top" alt="Логотип БНТУ">
        </a>
        <ul class="nav justify-content-end">
      <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="/faculties">Университет</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/canteens">Столовые</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deans-office">Деканат</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="logout()">Выйти</a>
      </li>
    </ul>
    </nav>


<div class="container text-center" style="margin-top: 100px; display: flex; flex-direction: column; align-items: center; flex-wrap: wrap;">

    <div style="width: 700px;">
        <h3 style="margin-bottom: 100px;" >На данной странице вы можете взять ведомость для пересдачи зачёта или экзамена</h3>
    </div>

<form style="width: 500px;">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="teacher_field" class="form-control" />
    <label class="form-label" for="login_field">Преподаватель</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="subject_field" class="form-control" />
    <label class="form-label" for="password_field">Предмет</label>
  </div>

  <select name="" id="type">
    <option value="Зачёт">Зачёт</option>
    <option value="Экзамен">Экзамен</option>
  </select>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" onclick="sendData()">>Отправить</button>

</form>
</div>
</body>
</html>