<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/requests.js"></script>
    <script src="/js/groups.js"></script>
    <script src="/js/logout.js"></script>
    <title>Главная</title>
</head>
<body>

  <nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" href="/" style="margin-left: 30px">
        <img src="/img/logo_BNTU.png" width=70 class="d-inline-block align-top" alt="Логотип БНТУ">
    </a>
    <ul class="nav justify-content-end">
  <li class="nav-item">
   <a class="nav-link active" aria-current="page" href="/faculties">Университет</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/canteens">Столовые</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/deans-office">Деканат</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" onclick="logout()">Выйти</a>
  </li>
</ul>
</nav>

      <div class="mainiel">
        <div id="department" style="margin-bottom: 100px;">
            <div class="container text-center" style="border: solid 1px; margin-top: 25px">
  <div class="row g-2">
    <div class="col-6">
      <img src="/img/bntu_main.png" id="dep_avatar" width="400px" style="margin-top: 10px">
    </div>
    <div class="col-6">
      <div class="p-3">
          <h5 id="dep_name">Кафедра кафедра кафедра</h5>
          <p id="dep_short">Поисит</p>
          <p id="dep_description">Описание</p>
      </div>
    </div>
  </div>
</div>
        </div>

        <input type="button" style="width: 100px; height: 30px; margin: 0 auto;">

        
        <div id="groups" class="container text-center" style="max-width: 800px">
<div class="container text-center" style="border: solid 1px; margin-top: 25px">

<div class="row g-2">
<div class="col-6">
<div class="p-3">
<a href="/group/1"><h5><b>10702119</b></h5></a>
</div>
</div>
<div class="col-6">
<div class="p-3">
<a href="/users/123"><h6>Алексей</h6></a>
</div>
</div>
</div>

</div>
        </div>
      </div>

</body>
</html>