<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Новый пост</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/logout.js"></script>
    <script src="/js/requests.js"></script>
    <script src="/js/group.js"></script>
</head>
<body>
        <nav class="navbar navbar-light bg-light">

            <a class="navbar-brand" href="/" style="margin-left: 30px">
                <img src="/img/logo_BNTU.png" width=70 class="d-inline-block align-top" alt="Логотип БНТУ">
            </a>
            <ul class="nav justify-content-end">
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/faculties.html">Университет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/canteens.html">Столовые</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Деканат</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="logout()">Выйти</a>
          </li>
        </ul>
        </nav>


<div class="container">
<div class="profile-wrapper">
    <div class="profile-section-user">
        <div class="profile-info-brief p-3">
            <div class="text-center">
                <h5 class="text-uppercase mb-4" style="margin-top: 55px" id="groupname"></h5>
            </div>
        </div>
            <!-- /.profile-info-contact -->
            <hr class="m-0">
            <div class="profile-info-general p-4">
                <h6 class="mb-3">Основная информация</h6>
                <table class="table">
                    <tbody>
                         <tr>
                            <td><strong>ID:</strong></td>
                            <td>
                                <p class="text-muted mb-0" id="group_id"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Факультет:</strong></td>
                            <td>
                                <p class="text-muted mb-0" id="user_faculty"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Кафедра:</strong></td>
                            <td>
                                <p class="text-muted mb-0" id="user_department"></p>
                            </td>
                        </tr>
                         <tr>
                            <td><strong>Курс:</strong></td>
                            <td>
                                <p class="text-muted mb-0" id="user_course"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </div>
    
    <table class="tablebuddy" id="group_students">
<tr>
<td colspan="2" class="identical">ID</td>
<th scope="col">Имя фамилия</th>
<th scope="col">Телефон</th>
</tr>



     </table>

            <!-- /.profile-info-general -->
</body>
</html>