<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="main_logo_student">
            <div class="header_student container">
                <a href="/"><div class="logo"><img src="./img/logo_BNTU.png" alt=""></div></a>
                <div class="menu">
                    <a href="/"><div>Faculty</div></a>
                    <a href="/"><div>Lecturers</div></a>
                    <a href="/"><div>Сanteen</div></a>
                    <a href="/"><div>Timetable</div></a>
                </div>
            </div>
            <div class="main_logo__center_student">
                <h1>Welcome back + name!</h1>
                <p>Study hard,learn more.Do it better harder stronger!</p>
                <div class="information">
                    <div class="information__photo">
                        <div class="photo"><img src="./img/ded.png" alt=""></div>
                    </div>
                    <div class="information__info">
                        <div class="name">name surname</div>
                        <div class="group">faculty</div>
                        <div class="cathedral">cathedral</div>
                    </div>
                </div>
                <div class="timetable">
                </div>
                <div class="posts">
                    <div class="post1">post1</div>
                    <div class="post2">post2</div>
                    <div class="post3">post3</div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>