<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <script src="./js/requests.js"></script>
    <script src="./js/mainRedirect.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="main_logo">
            <div class="header container">
                <a href="/"><div class="logo"><img src="./img/logo_BNTU.png" alt=""></div></a>
                <div class="menu">
                    <a href="/"><div>Faculty</div></a>
                    <a href="/"><div>Lecturers</div></a>
                    <a href="/"><div>Сanteen</div></a>
                    <a href="/"><div>Timetable</div></a>
                </div>
            </div>
            <div class="main_logo__center">
                <h1>Belorussian National Technological University</h1>
                <p>Study hard,learn more.Do it better harder stronger!</p>
                <a href="./authorisation.html"><div class="butt">Sign in</div></a>
            </div>
        </div>

    </div>
</body>
</html>